
.frame {
    --titlebar-height: 26px;

    width: 100vw;
    height: 100vh;
    background-color: var(--bg1);

    display: grid;
    grid-template-rows: var(--titlebar-height) calc(100vh - var(--titlebar-height));
}

.frame-wrapper {
    height: 100%;
    width: 100%;
}