
div.karnaugh {
    --size: 35rem;

    display: grid;
    grid-template-rows: min-content minmax(0, 1fr);
    grid-template-columns: min-content minmax(0, 1fr);
    gap: var(--spacing-m);

    width: var(--size);
    height: var(--size);
}

ol.karnaugh {
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-color: var(--bg0);
    border-radius: 1em;

    overflow: hidden;
}

div.karnaugh > p {
    display: grid;
    place-items: center;

    color: var(--p0);
    font-size: 1.8rem;
    font-weight: 700;
}

.karnaugh .label {
    position: relative;
}

.karnaugh .label > div {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--p0);
    border-radius: 1em;

    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.karnaugh .label.row > div {
    flex-direction: row;
    padding: 1rem 2rem;
}

.karnaugh .label.row > p {
    top: 0;
    left: 50%;
    transform: translate(-50%, -200%);
}

.karnaugh .label.col > p {
    top: 50%;
    left: 0;
    transform: translate(-200%, -50%);
}

.karnaugh .label.col > div {
    flex-direction: column;
    padding: 2rem 1rem;
}

.karnaugh .label > p {
    position: absolute;
    font-weight: 700;
}

.karnaugh .label > div > p {
    color: var(--bg0);
    font-weight: 700;
}

ol.karnaugh li.cell {
    display: grid;
    place-items: center;
    cursor: pointer;
}

ol.karnaugh li.cell:hover {
    background-color: var(--bg3);
}

ol.karnaugh li.cell p {
    display: grid;
    place-items: center;

    width: 1em;
    height: 1em;

    user-select: none;
    font-weight: 700;
}

ol.karnaugh li.cell.one p {
    color: var(--p0);
}

ol.karnaugh li.cell.active {
    background-color: var(--p1);
}