
section.buttons > div > :first-child {
    margin-left: 0;
}

button {
    /* Properties */
    --bg: var(--bg0);
    --col: var(--c0);
    --hov: var(--bg0h);
    --border-radius: 8px;

    --shadow-col: var(--sh-bg0);
    --blur-radius: 16px;

    --height: 2.5rem;
    
    /* Defaults */
    border: none;
    outline: none;
    cursor: pointer;

    /* Typography */
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--col);

    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: var(--height);

    padding: 1rem 3rem;

    background-color: var(--bg);
    border-radius: var(--border-radius);
    box-shadow: 0px var(--sh-x) var(--blur-radius) var(--shadow-col);
}

button > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    height: 1rem;
}

button.slim {
    --height: 2rem;
}

button.primary {
    --bg: var(--p0);
    --col: var(--bg1);
    --hov: var(--p0h);
    --shadow-col: var(--sh-p1);
    --blur-radius: 15px;
}

button.active {
    --col: var(--p0);

    --shadow-col: var(--sh-p1);
    --blur-radius: 15px;

    --border-width: 1.5px;

    padding-top: calc(1rem - 1.5px);
    padding-bottom: calc(1rem - 1.5px);
    padding-left: calc(3rem - 1.5px);
    padding-right: calc(3rem - 1.5px);

    border: var(--p0) solid var(--border-width);
}

button.selected {
    --bg: var(--p1);
    --col: var(--p0);

    --shadow-col: var(--sh-p1);
    --blur-radius: 15px;
}

button.inactive {
    --bg: var(--bg1);
    --border-width: 2px;
    --col: var(--inactive);

    cursor: unset;

    box-shadow: none;
    border: var(--col) solid var(--border-width);
    font-weight: 500;
}

button.inactive.hover:hover {
    --bg: var(--bg);
}

button.active.hover:hover {
    --bg: var(--hov);
}

button.hover:hover {
    --bg: var(--hov);
}

button.flat {
    box-shadow: none;
    --bg: rgba(0,0,0, 0);
}

button.flat:not(:hover):not(.primary):not(.selected):not(.active) {
}

button.expand {
    width: 100%;
}

button.icon-left > .icon {
    margin-right: 0.5rem;
}

button.icon-right > .icon {
    margin-left: 0.5rem;
    order: 1;
}

.button-row button {
    margin-right: 0.5rem;
}

.button-row button:first-child {
    margin-left: 0;
}

.button-row button:last-child {
    margin-right: 0rem;
}