
div.container {
    --small: 0.5rem;
    --medium: 2rem;
    --large: 3rem;
    --size: var(--small);

    margin: var(--size);
}

div.container.h {
    margin: 0 var(--size);
}

div.container.v {
    margin: var(--size) 0;
}

div.container.v.h {
    margin: var(--size);
}

div.container.medium {
    --size: var(--medium);
}

div.container.large {
    --size: var(--large);
}

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}