
ol.breadcrumbs {
    list-style-type: none;
    
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0 2rem;
}

ol.breadcrumbs > li.crumb::after {
    content: '/';

    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: var(--c0);

    display: inline-block;
    margin: 0rem 1rem;
}

ol.breadcrumbs > li.crumb:last-child::after {
    content: none;
}

li.crumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li.crumb > button {
    border: none;
    padding: 0.5rem 1rem;
    height: 2rem;
}