
.menu-container {
    position: relative;
}

.menu {
    --width: 15rem;
    --offset: -0.5rem;

    z-index: 10;
    display: inline-block;
    min-width: var(--width);

    position: absolute;
    top: var(--offset);
}

.menu.hidden {
    display: none;
}

ul.menu-list, ol.menu-list {
    list-style-type: none;
    
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0.7rem;
}

ul.menu-list li button, ol.menu-list li button {
    --height: 2rem;

    padding: 0;
    margin: 0;

    width: 100%;

    padding: 0.5rem 0 0.5rem 2rem;
    text-align: left;
    justify-content: left;

    box-shadow: none;
}

.sub-menu {
    z-index: 5;
    position: absolute;
    left: calc(var(--width) / 2);
    top: 0;
    
    opacity: 0;
    /* transform: translateY(-20px); */
}

.menu-item:hover .sub-menu {
    /* transition: opacity 200ms, transform 200ms; */
    /* transform: translateY(0); */
    opacity: 1;
}

.sub-menu .menu {
    position: static;
}

.menu-item {
    position: relative;
}