
section.typography {
    max-width: 50%;
}

/*
    Base typography style.
*/
h1, h2, h3, h4, p, label {
    font-family: 'Montserrat', sans-serif;
    color: var(--c0);

    padding: 0;
    margin: 1rem 0;
}

/*
    Largest header. Three times the size of body font-size.
*/
h1 {
    font-size: 3rem;
    font-weight: 700;
}

/*
    Second largest header. Two times the size of body font-size.
*/
h2 {
    font-size: 2rem;
    font-weight: 700;
}

/*
    Third largest header. 1.5 times the size of body font-size.
*/
h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

/*
    Paragraph. Base body font-size.
*/
p, label {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

p.description {
    font-size: 0.85rem;
}

span.bold {
    font-weight: 600;
}

span.emphasis {
    font-style: italic;
}

span.highlighted {
    color: var(--p0);
}