
.karnaugh-page {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: min-content minmax(0, 1fr);
}

.karnaugh-page header {
    display: flex;
    align-items: center;

    margin-left: 5rem;
    margin-top: 2rem;
}

.karnaugh-page main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 10rem;
}